body{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}

.wrap{
    background-image: url('.\Rectangle 357.png')
}

.banner img{
    width: 100%;
}

.banner{
    padding-bottom: 100px;
}
.content{
    width: 1110px;
    padding-left: 165px;
    padding-right: 165px;
    
}

h1{
    font-weight: 900;
    font-size: 24px;
    color:#4D3729;
}

.about{
    display: flex;
    justify-content: space-between;
    padding-bottom: 105px;
    width: 100%;
    height: 230px;
    
}

.about .left .down{
    margin-top: 14%;

}

.line{
    background-color: #CDA581;
    height: 3px;
    width: 95px;
    margin-top: 20px;
    margin-bottom: 15px;
}

p{
    font-weight: 400;
    font-size: 16px;
    color: #4D3729;
    width: 451px;
    line-height: 26px;
    letter-spacing: 1px;
}

.content .about a,.down a{
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 100px;
    background-color: #4D3729;
    padding: 10px 40px 10px 40px;
    box-sizing: border-box;
    
}

.limit{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.limit .up h1{
    display: flex;
    justify-content: center;
}
.limit .title{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}

.limit .up .line{
    display: flex;
    box-sizing: border-box;
}

.about .right img{
    width: 545px;
    height: 230px;
    border-radius: 10px;
}

.about .right img{
    width: 545px;
    height: 230px;
}

.shopee{
    margin-bottom: 100px;
}

.shopee img{
    width: 1110px;
    height: 350px;
    border-radius: 10px;
}

.middle{
    display: flex;
    justify-content: space-between;
}
.middle img{
    border-radius: 10px;
    width: 240px;
    height: 240px;
}


.limit .down {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

footer{
    margin-top: 100px;
}